*{
    margin: 0;
    padding: 0;
}

body{
    margin: 100px;
}

h1{
    text-align: center;
    margin-bottom: 25px;
}

.UI{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 20px;
    border: 1px black solid;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: space-between;
    padding: 20px;
    margin: 50px;
}

button{
    background-color: red;
    color: white;
    height: fit-content;
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
}